.dashboard {
  padding: 30px;
}

.summary {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.summary h3 {
  color: #16a34a;
}
