* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f6f8;
  color: #333;
}

h2 {
  margin-bottom: 16px;
}

button {
  cursor: pointer;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.3s;
}
