.navbar {
  background: #1e293b;
  padding: 14px 30px;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #cbd5e1;
  text-decoration: none;
  font-weight: 500;
}

.navbar a.active {
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
}
